<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load staticfiles %}
    <title>Bug Statistics</title>
    <link rel="icon" type="image/x-icon" href="{% static "bugstatistics/imgs/bug.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "bugstatistics/css/addBug.css" %}">

</head>


<body role="document">
<!--导航栏-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header" style="float: left">
            <a class="navbar-brand">Bug System</a>
        </div>
    </div>
</nav>
<div class="page-header" style="padding-top: 20px;">
    <div id="navbar" class="navbar-collapse collapse">
        {#        <input id="new-bug" name="name" type="button" value="新建" class="form-control"#}
        {#               style="width:50px;height:30px" onclick="document.getElementById('from-submit').style.display='block'">#}
        <button class="new-bug" onclick="document.getElementById('add-bug').style.display='block'"
                style="width:auto; height: 40px">新建
        </button>
    </div>
</div>

<div id="add-bug" class="modal">

    {#    <form class="modal-content animate" action="/bugstatistics/add_bug" METHOD="POST">#}
    <form class="modal-content animate" id="from-submit">
        <div class="imgcontainer">
            <span onclick="document.getElementById('add-bug').style.display='none'" class="close"
                  title="Close Modal">&times;</span>
            {#            <img src="https://static.runoob.com/images/mix/img_avatar.png" alt="Avatar" class="avatar">#}
        </div>

        <div class="container">
            <label><b>bug标题</b></label><br>
            <input class="title" type="text" placeholder="bug标题" name="title" required><br>

            <label><b>关联需求</b></label><br>
            <input id="iteration" type="text" placeholder="关联需求" name="iteration" required><br>

            <label><b>版本</b></label><br>
            <input id="version" type="text" placeholder="版本" name="version" required><br>

            <label><b>状态</b></label><br>
            <input id="status" type="text" placeholder="状态" name="status" required><br>

            <button type="submit" class="savebtn" onclick="upload()">保存</button>

            <button type="button" onclick="document.getElementById('add-bug').style.display='none'"
                    class="cancelbtn">
                取消
            </button>
        </div>
    </form>
</div>
<script>
    function upload() {
        var form = document.getElementById("from-submit");
        formData = new FormData(form);
        $.ajax({
            url: '/bugstatistics/add_bug/',
            type: 'POST',
            data: formData.serialize(),
            success: function () {
                window.opener.location.reload();
                window.close();

            },
            error: function (err) {
                alert('网络连接失败,稍后重试', err);
            }
        })
    }

</script>
<!--列表分页器-->
{#    <div class="paginator">#}
{#        <span class="step-links">#}
{#            {% if guests.has_previous %}#}
{#                <a href="?page={{ guests.previous_page_number }}">previous</a>#}
{#            {% endif %}#}
{#                <span class="current">#}
{#                    Page{{ guests.number }} of {{ guests.pagintor.num_page }}.#}
{#                </span>#}
{#            {% if guests.has_next %}#}
{#                <a href="?page={{ guests.next_page_number }}">next</a>#}
{#            {% endif %}#}
{#        </span>#}
{#    </div>#}
<!--嘉宾列表-->
<div class="row" style="padding-top: 0px;">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>标题</th>
                <th>需求</th>
                <th>版本</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>关闭时间</th>
            </tr>
            </thead>
            <tbody>
            {% for bug in bugs %}
                <tr>
                    <td>{{ bug.id }}</td>
                    <td>{{ bug.title }}</td>
                    <td>{{ bug.iteration }}</td>
                    <td>{{ bug.version }}</td>
                    <td>{{ bug.status }}</td>
                    <td>{{ bug.create_time }}</td>
                    <td>{{ bug.end_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>