<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load staticfiles %}
    <title>Bug Statistics</title>
    <link rel="icon" type="image/x-icon" href="{% static "bugstatistics/imgs/bug.ico" %}"/>
    {#    <link rel="stylesheet" type="text/css" href="{% static "bugstatistics/css/index.css" %}">#}
    <link rel="stylesheet" type="text/css" href="{% static "bugstatistics/css/addBug.css" %}">

</head>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    function upload() {
        $.ajax({
            url: '/bugstatistics/add_bug',
            async: false,
            type: 'POST',
            data: $("#from-submit").serialize(),
            success: function () {
                document.getElementById('add-bug').style.display = 'none';
                window.location.reload();
                console.log("success")
            },
            error: function (err) {
                alert('网络连接失败,稍后重试', err);
            }
        })
    }

</script>

<body role="document">
<!--导航栏-->
<nav class="navbar navbar-light navbar-fixed-top" style="background-color: powderblue">
    <a class="navbar-brand" style="color: black">
        <img src="{% static "bugstatistics/imgs/bug.ico" %}" width="30" height="30" class="d-inline-block align-top"
             alt="">
        Bug Statistics</a>
    <button class="new-bug" onclick="document.getElementById('add-bug').style.display='block'"
            style="width:auto; height: 40px">新建
    </button>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<!--新建bug-->
<div id="add-bug" class="modal">
    <form class="modal-content animate" id="from-submit">
        {{ form }}
        <div class="imgcontainer">
            <span onclick="document.getElementById('add-bug').style.display='none'" class="close"
                  title="Close Modal">&times;</span>
            {#            <img src="https://static.runoob.com/images/mix/img_avatar.png" alt="Avatar" class="avatar">#}
        </div>

        <div class="container">
            <label><b>bug标题</b></label><br>
            <input class="title" type="text" placeholder="bug标题" name="title" required><br>

            <label><b>关联需求</b></label><br>
            <input id="iteration" type="text" placeholder="关联需求" name="iteration" required><br>

            <label><b>版本</b></label><br>
            <input id="version" type="text" placeholder="版本" name="version" required><br>

            <label><b>状态</b></label><br>
            <input id="status" type="text" placeholder="状态" name="status" required><br>

            <button type="button" class="savebtn" onclick="upload()">保存</button>

            <button type="button" onclick="document.getElementById('add-bug').style.display='none'"
                    class="cancelbtn">
                取消
            </button>
        </div>
    </form>

</div>

<!--列表分页器-->
{#    <div class="paginator">#}
{#        <span class="step-links">#}
{#            {% if guests.has_previous %}#}
{#                <a href="?page={{ guests.previous_page_number }}">previous</a>#}
{#            {% endif %}#}
{#                <span class="current">#}
{#                    Page{{ guests.number }} of {{ guests.pagintor.num_page }}.#}
{#                </span>#}
{#            {% if guests.has_next %}#}
{#                <a href="?page={{ guests.next_page_number }}">next</a>#}
{#            {% endif %}#}
{#        </span>#}
{#    </div>#}
<style>

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
</style>

<!--内容表格-->
<div class="row" style="padding-top: 0px;">
    <div class="container-fluid">
        <table class="table table-bordered table-hover ">
            <thead>
            <tr class="table-dark">
                <th scope="col">id</th>
                <th scope="col">标题</th>
                <th scope="col">需求</th>
                <th scope="col">版本</th>
                <th scope="col">状态</th>
                <th scope="col">创建时间</th>
                <th scope="col">关闭时间</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for bug in bugs %}
                <tr scope="row">
                    <td>{{ bug.id }}</td>
                    <td>{{ bug.title }}</td>
                    <td>{{ bug.iteration }}</td>
                    <td>{{ bug.version }}</td>
                    <td class="success">{{ bug.status }}</td>
                    <td>{{ bug.create_time |date:"Y-m-d H:i:s" }}</td>
                    <td>{{ bug.end_time |date:"Y-m-d H:i:s" }}</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>