<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>{% block title %}测试小工具{% endblock %}</title>
</head>
<body>

{#{% include 'nav.html' %}#}

{% block content %}
    <div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>
    <a href="{% url 'imgupload' %}">上传图片</a><br>
    <a href="{% url 'sharetext' %}">共享文本</a><br>
    <a href="{% url 'bugstatistics' %}">bug管理</a><br>
{% endblock %}

{#{% include 'bottom.html' %}#}

{#{% include 'tongji.html' %}#}

</body>
</html>